.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header-name{
  padding-top: 50px;
  padding-left: 100px;
  float:left;
  align-content: flex-start;
  display: inline-block;
  max-width: 500px;
}

.MuiBreadcrumbs-root{
  text-align: center;
  padding-top: 50px;
  padding-right: 100px;
  float: right;
  max-width: 75%;
  display: inline-flex;
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  width: 100vw;
  display: inline-block;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
