.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header-name{
  display: inline-flex;
  width:50vw;
}

a{
  color: white;
  text-decoration: none;
}

.MuiBreadcrumbs-root{
  color: white;
  text-align: center;
  width: 50vw;
  display: inline-flex;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f4fbf3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
